<title>{% block title %}Admin Generator{% endblock %}</title>
{% block stylesheets %}{% endblock %}
{% block content %}{% endblock %}
{% block javascripts %}
    <script>
        $(function(){

        });
    </script>
{% endblock %}